<html ng-app="menuApp">
<head>
	<title>LND Chrome Extension Menu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
	<script type="text/javascript" src="assets/js/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/angular.min.js"></script>
	<script type="text/javascript" src="menu.js"></script>
	<style>
	#menu {
		width: 20em;
		margin: 0.5em;
	}
	</style>
</head>
<body><div ng-controller="MenuController as menu"><div class="list-group" id="menu">
	<a href="#" class="list-group-item list-group-item-action list-group-item-default" id="menu-settings">Settings</a>
	<a ng-repeat="client in menu.clients" class="list-group-item list-group-item-action list-group-item-default" ng-click="menu.openClient(client)">{{ client.endpoint }}</a>
</div></div></body></html>
